<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vod.movit.mybatis.MovieMapper"> 

	<resultMap type="com.vod.movit.movie.vo.MovieVO" id="MovieResultMap">
		<result property="m_no" column="M_NO" />
		<result property="m_title" column="M_TITLE" />
		<result property="m_director" column="M_DIRECTOR" />
		<result property="m_content" column="M_CONTENT" />
		<result property="m_genre" column="M_GENRE" />
		<result property="m_audience" column="M_AUDIENCE" />
		<result property="m_company" column="M_COMPANY" />
		<result property="m_nation" column="M_NATION" />
		<result property="m_score" column="M_SCORE" />
		<result property="m_grade" column="M_GRADE" />
		<result property="m_regDate" column="M_REGDATE" />
	</resultMap>
	<!-- id의 경우에는 Mapper.java에 동일하게 사용해야된다. resultMap="MemberResultMap" -->
	<select id="getMovieList" resultType="com.vod.movit.movie.vo.MovieVO" >
		SELECT * FROM tbl_movie
	</select>
	<select id="getAudienceList" resultType="com.vod.movit.movie.vo.MovieVO" >
		<![CDATA[SELECT * FROM (SELECT * FROM tbl_movie ORDER BY m_audience DESC) WHERE ROWNUM <= 6]]>
	</select>
	<select id="getScoreList" resultType="com.vod.movit.movie.vo.MovieVO" >
		<![CDATA[SELECT * FROM (SELECT * FROM tbl_movie ORDER BY m_score DESC) WHERE ROWNUM <= 6]]>
	</select>
	<select id="getDateList" resultType="com.vod.movit.movie.vo.MovieVO" >
		<![CDATA[SELECT * FROM (SELECT * FROM tbl_movie ORDER BY m_regDate DESC) WHERE ROWNUM <= 6]]>
	</select>
	<select id="getMovieNameList" resultType="com.vod.movit.movie.vo.MovieVO">
		SELECT m_no,m_title FROM tbl_movie
	</select>
	
</mapper>